@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
.sk-ab {
	position: relative;
	overflow: hidden;
}

.sk-asset {
	position: absolute;
	background-repeat: no-repeat;
}

/* Specific to index */
.sk-ab.sk-index {
	background-color: 	#F5FFFA;
	width: 390px;
	height: 844px;
}
.main{
	width: 348px;
	margin:0 auto;
}